.choice-container {
  display: flex;
  border: 0.1rem solid var(--primary-color);
  width: 100%;
  background: #fff;
  font-size: 1.8rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(204, 213, 174, 0.5);
  transform: translateY(-0.1rem);
  transition: all 0.3s;
}

#question {
  min-height: 15rem;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background: var(--secondary-color);
  color: #fff;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: lightgreen;
  color: #fff;
}

.incorrect {
  background-color: lightcoral;
  color: #fff;
}

.meta-data {
  display: flex;
  justify-content: space-around;
}

.meta-data-prefix {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
}

#progressBar {
  position: relative;
}

.loading-color {
  position: absolute;
  height: 0.5rem;
  background-color: transparent;
  width: 0;
  border-left: 0.1rem solid #f3f5ea;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to top left,
    rgb(204, 213, 174, 0.3),
    rgb(254, 250, 224, 0.3)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

use {
  fill: var(--primary-color);
  scale: 2;
}

.svg-container {
  padding: 1.5rem;
}

.svg-container svg {
  width: 8rem;
  height: 8rem;
  animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.hidden {
  display: none;
}
